<head lang="ru">
    <meta charset="UTF-8">
    <title>Учимся делать слайдер</title>
    <link rel="stylesheet" type="text/css" href="../../Static/CSS/about.css">
</head>
<body onload="startListen()">
    <div class="slider-container" id="slideContainer">
        <div class="slide"><img src="../../Static/JPG/slide1.jpg" alt="Город 1"></div>
        <div class="slide"><img src="../../Static/JPG/slide2.jpg" alt="Город 2"></div>
        <div class="slide"><img src="../../Static/JPG/slide3.jpg" alt="Город 3"></div>
        <div class="slide"><img src="../../Static/JPG/slide4.jpg" alt="Город 4"></div>
        <button class="prev-button" aria-label="Посмотреть предыдущий слайд" onclick="plusSlides(-1)">&lt</button>
        <button class="next-button" aria-label="Посмотреть следующий слайд" onclick="plusSlides(1)">&gt</button>
    </div>
    <script type="text/javascript" src="../../Static/JS/slider.js"></script>
</body>