<head lang="ru">
    <meta charset="UTF-8">
    <title>Учимся делать слайдер</title>
    <link rel="stylesheet" type="text/css" href="../../Static/CSS/about.css">
</head>
<div class="slider-container">
    <div class="slider">
        <img src="../../Static/JPG/slide1.jpg" alt="Город 1">
        <img src="../../Static/JPG/slide2.jpg" alt="Город 2">
        <img src="../../Static/JPG/slide3.jpg" alt="Город 3">
        <img src="../../Static/JPG/slide4.jpg" alt="Город 4">
    </div>
    <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt</button>
    <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button>
</div>