<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
</header>
<aside id="sidebar">
    <div class="navbar">
        <p>Все трансляции</p>
        <p>О проекте</p>
    </div>
</aside>
<main>
<div class="bordered">
    <iframe width="500" height="280" src="https://www.youtube.com/embed/GSmCh4DrbWY?si=4uODMgMC7trw3OeN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="500" height="280" src="https://www.youtube.com/embed/h1wly909BYw?si=_PV9IgomPvqUTvaz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="500" height="280" src="https://www.youtube.com/embed/nE8qkw9u7tQ?si=HUu9NNOEkM-rOWfr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
</main>
</body>
<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>