<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
</header>
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Все трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>
<main>
    <div>
        <form>
            <p><input type="search" name="q" placeholder="Поиск по сайту">
            <input type="submit" value="Найти"></p>
        </form>
    </div>
    <div class="bordered">
        <p>Лондон</p>
        <iframe width="30%" height="300" src="https://www.youtube.com/embed/GSmCh4DrbWY?si=4uODMgMC7trw3OeN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>Санкт-Петербург</p>
        <iframe width="30%" height="300" src="https://www.youtube.com/embed/h1wly909BYw?si=_PV9IgomPvqUTvaz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>Амстердам</p>
        <iframe width="30%" height="300" src="https://www.youtube.com/embed/zvx4y0BL50Q?si=t3zn-N9W68BFX9ns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</main>
<footer>
    <div>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </div>
</footer>
</body>

</html>